//jobs.intellectseeccloud.com/nexus-new/repository/fabric-npm-group/:_authToken=NpmToken.388dc2cf-4bcb-3ea6-92f1-5176a6117f8a
@fabric:registry=https://jenkinscicd.intellectseeccloud.com/nexus/repository/fabric-npm-group/
//jobs.intellectseeccloud.com/nexus-new/repository/idxplatform-npm-group/:_authToken=NpmToken.388dc2cf-4bcb-3ea6-92f1-5176a6117f8a
@idxp:registry=https://jenkinscicd.intellectseeccloud.com/nexus/repository/idxplatform-npm-group/
//jobs.intellectseeccloud.com/nexus-new/repository/fabric-npm-hosted/:_authToken=NpmToken.388dc2cf-4bcb-3ea6-92f1-5176a6117f8a
//jobs.intellectseeccloud.com/nexus-new/repository/idxplatform-npm-hosted/:_authToken=NpmToken.388dc2cf-4bcb-3ea6-92f1-5176a6117f8a
registry=https://jenkinscicd.intellectseeccloud.com/nexus/repository/idxplatform-npm-group/
//jenkinscicd.intellectseeccloud.com/nexus/repository/fabric-npm-group/:_authToken=NpmToken.388dc2cf-4bcb-3ea6-92f1-5176a6117f8a
//jenkinscicd.intellectseeccloud.com/nexus/repository/idxplatform-npm-group/:_authToken=NpmToken.388dc2cf-4bcb-3ea6-92f1-5176a6117f8a
//jenkinscicd.intellectseeccloud.com/nexus/repository/fabric-npm-hosted/:_authToken=NpmToken.388dc2cf-4bcb-3ea6-92f1-5176a6117f8a
//jenkinscicd.intellectseeccloud.com/nexus/repository/idxplatform-npm-hosted/:_authToken=NpmToken.388dc2cf-4bcb-3ea6-92f1-5176a6117f8a
